*{
  font-family: 'Century Gothic';
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 20px;
  grid-gap: 2px;
}
.wrapper > div {
  flex: 1;
}
.box{
  background: aqua;
}
.card {
  width: 210px;
  height: 254px;
  border-radius: 20px;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  background: linear-gradient(30deg, #f0f0f0, #f3eeee);
  box-shadow: -6px 6px 12px #bebebe, 6px -6px 12px #ffffff;
}


.card h2{
  text-align: center;
}
.card small{
  margin: 0px 0px 5px 0px;
}


.content{
  color: #ffffff;
  background-color: rgb(4, 151, 151);
  padding: 2px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */

.button{
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: x-large;
}